@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
/*styling quote */
.boxQuote{
    /*top, left, bottom, right*/
    -fx-background-color: #f8fffe;
    /*-fx-border-color: #b0d2cb; */
   /* -fx-border-width: 1px; */
   /* -fx-border-radius: 10px; */
    -fx-background-radius: 10px;
    -fx-background-insets: 10px;
    -fx-effect: dropshadow(three-pass-box, gainsboro, 10, 0, 0, 0);
}

.labelQuote {
    -fx-wrap-text: true;
    -fx-padding: 30 40 30 40;
    -fx-font-size: 2.0em;
    -fx-font-family: 'Gelasio', Serif;
    -fx-font-style: italic;
}

/* styling pie chart*/
.default-color0.chart-pie { -fx-pie-color: #860061; }
.default-color1.chart-pie { -fx-pie-color: #ffa500; }
.default-color2.chart-pie { -fx-pie-color: #ffd700; }
.default-color3.chart-pie { -fx-pie-color: #adff2f; }
.default-color4.chart-pie { -fx-pie-color: #ff5700; }

.chart-pie-label-line {
    -fx-stroke: #8b4513;
    -fx-fill: #8b4513;
}

.chart-pie-label {
    -fx-fill: #8b4513;
    -fx-font-size: 1em;
}
.chart-legend {
    -fx-background-color:  #fafad2;
    -fx-stroke: #daa520;
}

/* *styling combobox/ */
.combo-box{
    -fx-border-width: 1px;
    -fx-border-color: #b7a6a6;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
   /* -fx-background-color: #d6d0d0; */
    -fx-font-style: normal;
    -fx-padding: 0px;
    -fx-font-family: 'Roboto Light' ,Arial;
}

.combo-box:hover{
    -fx-text-fill: white;
}

.combo-box-base:hover{
    -fx-border-color: #356bbc;
}

.combo-box .list-view{
    -fx-border-width: 0.5px;
    -fx-border-color: #ACACAC;
    -fx-background-color: white;
    -fx-padding: 0px;
   /* -fx-border-radius: 50px 50px 50px 50px; */
    /*-fx-background-radius: 50px; */
}